.title {
  font-size: 150px;
  font-weight: 500;
  margin: 10px;
}

button {
  background-color: #e5faaa;
  border: none;
  border-radius: 12px;
  font-size: 30px;
  padding: 12px;
  color: #2a0202;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.4;
  }
  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.aboutApp {
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
  color: #96fa96;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}





